@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: #CC0633;
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: #A6192E;
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: #000000;
  --color-accent-content: oklch(98% 0.031 120.757);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: #54585A;
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-primary: #CC0633;
  --color-primary-content: oklch(98% 0.01 25.5);
  --color-secondary: #A6192E;
  --color-secondary-content: oklch(97% 0.014 308.299);
  /* --color-secondary: oklch(70% 0.01 251.7);
  --color-secondary-content: oklch(15% 0.01 251.7); */
  --color-base-100: oklch(25% 0.01 251.7);
  --color-base-200: oklch(35% 0.01 251.7);
  --color-base-300: oklch(45% 0.01 251.7);
  --color-base-content: oklch(97% 0.001 106.4);
  --color-accent: #ffffff;
  --color-accent-content: #000000;
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: #54585A;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
